<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pokemon?.name | titlecase }} #{{ pokemon?.id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pokemon" [fullscreen]="true">
  <div class="pokemon-banner type-{{ pokemon.types[0].type.name }}">
    <img
      [src]="showShiny ? pokemon.sprites.front_shiny : pokemon.sprites.front_default"
      [alt]="pokemon.name"
    />
    <ion-toggle [(ngModel)]="showShiny" color="primary">Shiny</ion-toggle>
  </div>

  <ion-card class="info-card">
    <ion-card-header>
      <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
      <div class="type-badges">
        <span *ngFor="let type of pokemon.types" [ngClass]="'type-pill type-' + type.type.name">
          {{ type.type.name }}
        </span>
      </div>
    </ion-card-header>

    <ion-card-content>
      <div class="attribute-row">
        <div><strong>Altura:</strong> {{ pokemon.height / 10 }} m</div>
        <div><strong>Peso:</strong> {{ pokemon.weight / 10 }} kg</div>
        <div><strong>XP Base:</strong> {{ pokemon.base_experience }}</div>
      </div>

      <div class="section">
        <h3>Habilidades</h3>
        <p>{{ abilitiesList }}</p>
      </div>

      <div class="section">
        <h3>Movimentos iniciais</h3>
        <p>{{ firstMoves }}</p>
      </div>

      <div class="section evolution">
        <h3>Evolução</h3>

        <div class="form-toggle-buttons" *ngIf="hasMega || hasGmax">
          <ion-button
            fill="clear"
            class="special-button"
            (click)="toggleMega()"
            [class.active]="showMega"
            *ngIf="hasMega"
          >
            <img src="assets/icon/mega.png" alt="Mega" class="special-icon" />
          </ion-button>

          <ion-button
            fill="clear"
            class="special-button"
            (click)="toggleGmax()"
            [class.active]="showGmax"
            *ngIf="hasGmax"
          >
            <img src="assets/icon/Gigamax.webp" alt="G-Max" class="special-icon" />
          </ion-button>
        </div>

        <div class="evolution-tree" *ngIf="evolutionTree">
          <ng-container
            *ngTemplateOutlet="renderNode; context: { node: evolutionTree }"
          ></ng-container>
        </div>

        <ng-template #renderNode let-node>
          <ng-container *ngIf="node">
            <div class="evolution-node">
              <img *ngIf="node?.image" [src]="showShiny ? node.shinyImage : node.image" [alt]="node.name" />
              <div class="evolution-name">{{ node.name | titlecase }}</div>
            </div>

            <div *ngIf="node.evolvesTo?.length > 0" class="arrow-group">
              <div class="arrow">↓</div>
              <div class="evolution-branch">
                <ng-container *ngFor="let child of node.evolvesTo">
                  <ng-container *ngTemplateOutlet="renderNode; context: { node: child }"></ng-container>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </ng-template>


        <p *ngIf="!evolutionTree">Este Pokémon não evolui.</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>